<app-header #menuHeader [name]="cafeName" [categories]="categories" (searchValue)="searchDishes($event)" (dishes)="setCurrentDishes($event)"></app-header>




<ion-content no-padding>
  <app-dishes-list  [dishes]="currentDishes" appDishListDirective  *ngIf="currentDishes"></app-dishes-list>


  <!--<ion-list *ngFor="let item of info; let i = index" class="accordion-list" lines="none" detail="false" no-padding>-->
    <!--<ion-item tappable (click)="toggleSection(i)" >-->
      <!--<ion-icon slot="start" name="add" *ngIf="!item.open"></ion-icon>-->
      <!--<ion-icon slot="start" name="close" *ngIf="item.open"></ion-icon>-->
      <!--<ion-label>-->
        <!--{{item.name}}-->
      <!--</ion-label>-->
    <!--</ion-item>-->
    <!--<div class="test" [ngClass]="{'testOpen':item.open}">-->
      <!--TESt-->
    <!--</div>-->

  <!--</ion-list>-->


  <!--<div class="menuCtn">-->
    <!--<div class="paddingCtn">-->
      <!--<div class="categoriesCtn">-->
        <!--&lt;!&ndash;<div class="categoryItem" *ngFor="let cat of menu.categories" (click)="selectCategory($event, cat)">&ndash;&gt;-->
          <!--&lt;!&ndash;<span class="categoryItem&#45;&#45;name">{{cat.name}}</span>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
      <!--</div>-->
      <!--<div class="dishesCtn">-->
        <!--<app-dish-item *ngFor="let dish of currentDishes" [dish]="dish"></app-dish-item>-->
        <!--&lt;!&ndash;<app-dish-item></app-dish-item>&ndash;&gt;-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
</ion-content>

