<div class="cafeItem">
  <!--routerLink="/menu"-->
  <div class="cafeLogo"  (click)="selectCafe()">
    <img [src]="cafe.logotype" alt="Cafe Logotype">
  </div>
  <div class="cafeData">
    <div class="cafeData__item">
      <!--<span class="cafeData__item&#45;&#45;staticText">Назва: </span>-->
      <span class="cafeData__item--name">{{cafe.name}}</span>
    </div>
    <div class="cafeData__item">
      <span class="cafeData__item--staticText">Адреса: </span>
      <span class="cafeData__item--address">{{cafe.address}}</span>
    </div>
    <div class="cafeData__item">
      <span class="cafeData__item--staticText">Номер телефону: </span>
      <span class="cafeData__item--telephone">{{cafe.telephone}}</span>
    </div>
    <div class="cafeData__item">
      <span class="cafeData__item--staticText">Часи роботи: </span>
      <span class="cafeData__item--timeWork">{{cafe.address}}</span>
    </div>
  </div>
  <div class="cafeLocation">
    <ion-icon name="pin"></ion-icon>
  </div>
</div>